{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}

{% block content %}
    <h1>News</h1>
    {% for data in news %}
    <div>
        <div>{{ data.title }}</div>
    </div>
    {% endfor %}
{% endblock %}